- content_for :navigation do
  = Post.new.decorate.admin_buttons(:new)

.container-fluid
  - if notice
    .row
      .col-md-12.col-xs-12
        %p#notice= notice

  = PostsDecorator.decorate(@posts).layout(9)
