- content_for :navigation do
  = Post.new.decorate.admin_buttons(:new)

.container-fluid
  - if notice
    .row
      .col-md-12.col-xs-12
        %p#notice= notice

  = PostsDecorator.decorate(@posts).layout(6)

%div{ id: 'fsModal', 
     class: 'modal animated bounceIn',
     tabindex: '-1',
     role: 'dialog',
     'aria-hidden': 'true'}

  %div{ class: 'modal-dialog' }

    %div{id: 'modal_content'}  
      %div{id: 'post_content'}  

    %button{id: 'close_btn', 'data-dismiss': 'modal'}
      CLOSE
