/*
 *= require_tree .
 *= require_self
 */

/*
  DINOYELLOW #fef400
  DINOORANGE #ff9000
  DINORED #da2140
*/

body { 
  padding-top:10px; 
  background: #ff9000 ; 
} 

.nav_item {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  font-weight: bold;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10px;
  width: 250px;

  color: #ff9000;
  font-size: 16px; 
  text-shadow: 1px 1px 1px #000, 
               2px 2px 2px #da2140;; 
}

.navbar {
  position: relative;
  top: 0;
  margin-top: 0;
  background-color: #da2140;
  border-top: 1px black;
}

.recent_posts {
  height: 25%;
  width: 80%;
  list-style: none;
  -webkit-padding-start: 0px; 
}

.recent_posts li { 
  margin-bottom: 5px; 
}

.recent_posts li a {
  width: 100px;
  color: #333; 
  font-size: small;
}

.sidebar { 
  padding: 0; 
  margin: 0; 
}

dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.logo {
  /*margin-left: 10px;*/
  /*margin-top: 70%;*/
  /*margin-bottom: 0%;*/
  /*width: 120px;*/
  /*height: 120px;*/
  /*border-radius: 50%;*/
  /*box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
  /*-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
  /*-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
}

.logo img { 
  margin-left: 8px; 
  width: 100%; 
  height: auto;
} 

.logo .title { 
  border-top: 2px solid #fef400;
  border-bottom: 2px solid #fef400;
  color: #da2140;
  width: 100%;
  font-size: 0.90vw; 
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 5px;
  white-space:nowrap;
  margin-left: 12px;
  margin-top: 6px;
  letter-spacing: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

.logo .byline { 
  margin-left: 29px; 
  font-style: italic; 
  font-size: 0.6vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search { 
  margin-bottom: 10px; 
  margin-left: 0;
}

.post { 
  background: #b87333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  height: 376px;
}

.post .summary {
  padding-top: 10px;
  font-family: Verdana;
  line-height: 1.5em;
  color: rgb(69,54,37);
  overflow: hidden;
  height: 276px;
}

.post .header {
  padding-top: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  height: 60px;
  border-bottom: 1px solid #ff9000;
}

.post .title { 
  color: #ff9000;
  font-size: 16px; 
  text-shadow: 1px 1px 1px #000, 
               2px 2px 2px #da2140;; 
}
.post .date {
  padding-top: 0;
  font-size: 10px; 
}

.post .btn { 
  float: right;
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: bold;
  border: 1px black solid; 
  color: black;
  background: #ff9000; 
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  margin-right: 2px;
} 

.post .footer {
  height: 30px;
}

.footer .col-md-2, .col-md-3, .col-md-4 { }

.post img { 
  width: 150px; 
  height: auto; 
  float: left;
  clear: left;
  margin-bottom: 10px;
}

.post .views { font-size: 10px; }
.post .comments { font-size: 10px; }
.post .tags { font-size: 10px; }

.archive .month a { font-size: small; }
.archive li { margin-bottom: 10px; }
.archive a {
  color: #333;
}

.archive { }
.archive ul { 
  list-style: none; 
  -webkit-padding-start: 0; 
}
.archive .month {
  -webkit-padding-start: 12px; 
}
.archive .year li h2 { font-size: 18px; }


