/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*
  DINOYELLOW #fef400
  DINOORANGE #ff9000
  DINORED

*/
body { 
  padding-top:20px; 
  background: #ff9000 ; 
} 

.recent_posts {
  height: 25%%;
  width: 80%;
  list-style: none;
  -webkit-padding-start: 0px; 
}

.recent_posts li { 
  margin-bottom: 5px; 
}

.recent_posts li a {
  width: 100px;
  color: #333; 
  font-size: small;
}

.sidebar { padding: 0px; margin 0px; }

.logo {
  /*margin-left: 10px;*/
  margin-top: 70%;
  /*width: 120px;*/
  /*height: 120px;*/
  /*border-radius: 50%;*/
  /*box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
  /*-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
  /*-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
}

.logo img { 
  margin-left: 8px; 
  width: 100%; 
  height: auto;
} 

.logo .title { 
  border-top: 2px solid #fef400;
  border-bottom: 2px solid #fef400;
  color: #da2140;
  width: 100%;
  font-size: 0.90vw; 
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 5px;
  white-space:nowrap;
  margin-left: 12px;
  margin-top: 6px;
  letter-spacing: 4px;
  text-transform: full-width;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

.logo .byline { 
  margin-left: 29px; 
  font-style: italic; 
  font-size: 0.7vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search { 
  margin-bottom: 10px; 
  margin-left: 0px;
}

.post { 
  background: #b87333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  height: 376px;
}

.post .summary {
  padding-top: 10px;
  font-family: Verdana;
  line-height: 1.5em;
  color: rgb(69,54,37);
  overflow: hidden;
  height: 276px;
}

.post .header {
  padding-top: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  height: 60px;
  border-bottom: 1px solid #ff9000;
}

.post .title { 
  color: #ff9000;
  font-size: 16px; 
  text-shadow: 1px 1px 1px #000, 
               2px 2px 2px #da2140;; 
}
.post .date {
  padding-top: 0px;
  font-size: 10px; 
}

.post .btn { 
  float: right;
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: bold;
  border: 1px black solid; 
  color: #black;
  background: #ff9000; 
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  margin-right: 2px;
} 

.post .footer {
  height: 30px;
}

.footer .col-md-2, .col-md-3, .col-md-4 {
}

.post img { 
  width: 150px; 
  height: auto; 
  float: left;
  clear: left;
  margin-bottom: 10px;
}

.post .views { font-size: 10px; }
.post .comments { font-size: 10px; }
.post .tags { font-size: 10px; }

.archive .month a { font-size: small; }
.archive li { margin-bottom: 10px; }
.archive a {
  color: #333;
}


.archive { }
.archive ul { 
  list-style: none; 
  -webkit-padding-start: 0px; 
}
.archive .month {
  -webkit-padding-start: 12px; 
}
.archive .year li h2 { font-size: 18px; }


